<%- include('../partials/header.ejs') %>
  <main class="admin-login">
    <div class="content">
      <h1>Welcome to the Cool Kids Clubhouse!</h1>
      <h2>Enter your information to get started</h2>

      <!--add the form-->
      <form id="admin-register" name="admin-register" action="/admin/" method="POST">
        <div class="div">
          <label for="email" class="label">Email:</label>
          <input class="text" type="text" id="email" name="email" placeholder="Enter email" required><br>
        </div>
        <div class="div">
          <label for="firstName" class="label">First Name:</label>
          <input class="text" type="text" id="firstName" name="firstName" placeholder="Enter first name" required><br>
        </div>
        <div class="div">
          <label for="lastName" class="label">Last Name:</label>
          <input class="text" type="text" id="lastName" name="lastName" placeholder="Enter last name" required><br>
        </div>
        <div class="div">
          <label for="username" class="label">Username:</label>
          <input class="text" type="text" id="username" name="username" placeholder="Enter username" required><br>
        </div>
        <div class="div">
          <label for="password" class="label">Password:</label>
          <input class="password" type="password" id="password" name="password" placeholder="Enter password"
            minlength="8" maxlength="64" required><br>
        </div>
        <button type="submit" class='btn'>Register</button>
      </form>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>