<%- include('../partials/header.ejs') %>
<main>
    <h2>November</h2>
    <div class="eventListing">
        <h4>[Event Title]</h4>
        <p>Location | Date</p>
    </div>
    <div class="eventListing">
        <h4>[Event Title]</h4>
        <p>Location | Date</p>
    </div>
    <div class="eventListing">
        <h4>[Event Title]</h4>
        <p>Location | Date</p>
    </div>
    <h2>December</h2>
    <div class="eventListing">
        <h4>[Event Title]</h4>
        <p>Location | Date</p>
    </div>
    <div class="eventListing">
        <h4>[Event Title]</h4>
        <p>Location | Date</p>
    </div>

</main>
<%- include('../partials/footer.ejs') %>