<%- include('../partials/header.ejs') %>
<main>
    <h1>Welcome back Cool Kid!</h1>
<h2>Enter your information to get started</h2>
<!--add the form-->
<form class = 'client-login'id="client-login" name="client-login" action="/client/home" >
  <div class="div">
    <label for="username" class="label">Username:</label>
    <input class="text" type="text" id="username" name="username" placeholder="Enter username"><br>
  </div>
  <div class="div">
  <label for="password" class="label">Password:</label>
  <input class="password" type="password" id="password" name="password" placeholder="Enter password"><br>
  </div>
</form>

<a href= '/client/home'><button id = "loginButton">Login</button></a>

</main>
<%- include('../partials/footer.ejs') %>