<%- include('../partials/header.ejs') %>
<main class="client-login">
 <div class="content">
     <h1>Welcome back Cool Kid!</h1>
  <h2>Enter your information to get started</h2>
  <br>
  <!--add the form-->
  <form id="client-login" name="client-login" action="/client/login" method="POST">
   <div class="div">
     <label for="email" class="label">Email:</label>
     <input class="text" type="text" id="email" name="email" placeholder="Enter email"><br>
   </div>
   <div class="div">
   <label for="password" class="label">Password:</label>
   <input class="password" type="password" id="password" name="password" placeholder="Enter password"><br>
   </div>
   <small>No account? <a href='/client/register'>Register here</a></small>
   <br>
   <button type="submit" class='btn'>Login </button>
  </form>
  
  
  
 </div>
</main>
<%- include('../partials/footer.ejs') %>
