<%- include('../partials/header.ejs') %>
<main class="client-login">
 <div class="content">
     <h1>Welcome back Cool Kid!</h1>
  <h2>Enter your information to get started</h2>
  <small>No account? <a href='/client/register'>Register here</a></small>
  <br>
  <!--add the form-->
  <form id="client-login" name="client-login" action="/client/home">
   <div class="div">
     <label for="username" class="label">Username:</label>
     <input class="text" type="text" id="username" name="username" placeholder="Enter username"><br>
   </div>
   <div class="div">
   <label for="password" class="label">Password:</label>
   <input class="password" type="password" id="password" name="password" placeholder="Enter password"><br>
   </div>
   <button type="submit" class='btn'>Login </button>
  </form>
  
  
  
 </div>
</main>
<%- include('../partials/footer.ejs') %>