<!--This is where the footer for our website will be located-->
<footer>
    <p class="copyright">@CoolKidsClub</p>
    <div class="footer-background">
        <img src="/images/ckc_logo_tree_tagline.png" alt="ckc-logo" class="footer-logo">
    </div>
</footer>
</body>
</html>