<!--This is where the header/nav bar for our website will be located-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <title>Cool Kids Club</title>
</head>
<body>
    <header>
        <div class="header-background">
            <a href="/">
                <img src="/images/cool-kids-logo.png" alt="ckc-logo" class="ckc-logo">
            </a>
            
            <h1 class="header-title">Cool Kids Clubhouse</h1>
            <nav>
                Welcome, <a href="">[User's Name]</a> |
                <a href="https://coolkidscampaign.org/">Cool Kids Home</a>
            </nav>
        </div>
    </header>