<!--This will be the intial page that clients/admins will view-->
<%- include('./partials/header.ejs') %>
    <main>
        <h1 id = "txt1">Welcome to the Cool Kids Clubhouse</h1>
        <h2 id = "txt2">For Admin Use: </h2>
        <h3 id = "txt3">For Client Use: </h3>
        <button type = "button" id = "adminBut" onclick = "location.href = 'admin/index.html';">Admin Page</button>
        <button type = "button" id = "clientBut" onclick = "location.href = 'client/index.html';">Client Page</button>
    </main>
<%- include('./partials/footer.ejs') %>
