<!--This will be the intial page that clients/admins will view-->
<%- include('./partials/header.ejs') %>
<main>
    <h1>Hello World</h1>
    <button type = "button" id = "adminBut">Admin Page</button>
    <button type = "button" id = "clientBut">Client Page</button>
</main>
<%- include('./partials/footer.ejs') %>
