/*This is the style page where we will have all the CSS needed for both admin/clients*/
/*This is for any header css*/
.ckc-logo {
    height: 200px;
    width: 250px;
    position: absolute;
}

.header-background {
    height: 225px;
    width: 100%;
    background-color: yellow;
}

.header-title {
    text-align: center;
    font-size: 50px;
    color: darkgreen;
}

/*This is for any footer css*/
footer {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    height: 75px;
    width: 100px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 5px;
}

.footer-background {
    height: 100px;
    width: 100%;
    background-color: lightskyblue;
}

.copyright {
    position: absolute;
    bottom: 0;
    color: darkgreen;
    margin-left: 10%;
    font-size: 18px;
}

/*Label what page this css is used for*/

/*Label what page this css is used for*/

/*Label what page this css is used for*/

/*Label what page this css is used for*/

/*Label what page this css is used for*/

/*Label what page this css is used for*/

/*Label what page this css is used for*/

/*Label what page this css is used for*/